@model PagedResultViewModel<FundsLibrary.DataApi.Example.Service.Domain.FundsLibrary.DataApi.Domain.Security>

@{
	ViewBag.Title = "Securities";
}

<div class="row">
	<div class="well">
		<h2>Securities</h2>

		<table class="table table-striped table-hover">
			<thead>
			<th>Name</th>
			</thead>
			<tbody>
				@foreach (var unit in Model.Items)
				{
					<tr>
						<td>
							@Html.ActionLink(
								unit.StaticData.Identification.FullName,
								"Security",
								new { sedol = unit.StaticData.Identification.SedolCode })
						</td>
					</tr>
				}
			</tbody>
		</table>


		<nav class="text-center">
			@Html.Pager(Model.Size, Model.Page, Model.Count).Options(o => o
				.DisplayTemplate("Pagination")
				.MaxNrOfPages(15))
		</nav>
	</div>
</div>
